@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "ribbon.less";
@import "EndModal.less";
@import "welcome.less";
@import "Cards.less";

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}

#wrap {
  // Margin bottom by footer height
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  height: 60px;
  background-color: #f5f5f5;
}

// End sticky footer

@site-carousel-color: black;
@carousel-control-color: black;
@carousel-control-opacity: 100%;
@carousel-control-width: 10%;

.card-container {
  height: 100%;
  border-style: solid;
  border-color: @site-carousel-color;
  border-width: 5px;
}

// Not needed if carousel arrows are removed
.carousel-inner * .carousel-wrapped {
  margin-left: 10%;
}


//Settings
.srs-radio {
  padding: 0px 10px 0px;
}
