

// Variables
@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);
@background:        darken(white, 4%); 

.card-candidates-item {

  padding-left: 5px;
  color: @link-color;

}

.card-candidates-item:hover {

  color: @link-color-hover;
  background-color: @background;

}
