// Variables
@card-height:       50px;

.top {
  margin-top: 10px;
}


.card-candidates-item {
  font-size: 120%;
  height: @card-height;
  padding-left: 5px;
  color: @link-color;
  position: relative;
}


.card-candidates-item-inner {
  .vertical-align-mixin;
}

.card-candidates-item:hover {
  .hover-mixin(@link-background-hover);
}

#linksIntro {
  font-weight: bold;
}
