

.explanation-btn {
  display: inline;
  margin-left: 14px;
  margin-bottom: 14px;
}

.result .btn {
  margin-top: 10px;
}

.result .response {
  margin-top: 10px;
}

.result .glyphicon-ok {
  color: @ok-green;
}

.result .glyphicon-remove {
  color: @wrong-red;
}
