
// COLORS
@ok-green: green;
@wrong-red: red;
@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);
@link-background-hover:    darken(white, 4%); 


// SCREEN SIZES
@mobile-size: 420px;
@tablet-size: 800px;
